*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #302e2e;
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

header, header * {
    align-items: center;
    background-color: #000000;
    
}

.flex{
    display: flex;
}

.w100{
    width: 100%;
}

#header-icon{
    width: 32px;
    height: 32px;
}

#action-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin : 20px 0px;
    width: 100%;
}

#url-input{
    width: 90%;
    font-size: 1em;
    text-align: center;
}

#select-and-go-buttons{
    align-items: center;
    justify-content: center;
    gap:20px;
}

#select-process{
    font-size: 1.1em;
}

#start-process{
    border-radius: 5px;
    font-size: 1.1em;
    padding: 8px;
}

.margin-bottom20{
    margin-bottom: 20px;
}

/*
Taken from
https://cssloaders.github.io/
*/

.loader {
    width: 16px;
    height: 16px;
    border: 5px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
} 
/*
========
*/
